/*--------------------------
Basic Setup
----------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #fff;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
 
}
.clearfix{zoom: 1}
.clearfix:after{
    content:'.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------
Reusable components
----------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*--------------------------
headings
----------------------------*/
h1,
h2,
h3{
    font-weight: 550;
    text-transform: uppercase;
    margin: auto;
    
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff5f5;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{

    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; 
}

/*--------------------------
Paragraphs
----------------------------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/*--------------------------
Icons
----------------------------*/

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-big:hover{
    color: #ff0dc2;
}




/*--------------------------
Links
----------------------------*/
a:link,
a:active{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;  
    -webkit-transition: border-bottom 0.2s, color 0.2s;  
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid transparent;   
}



/*--------------------------
Buttons
----------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    
    text-decoration: none; 
    border-radius: 200px;
    color: #ffffff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}



.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #ff6060;
    border: 1px solid rgba(255, 255, 255, 0.979) 25);
    
}


.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid rgb(172, 172, 172);
    color:#fff;
}

.btn-ghost:hover,
.btn-ghost:active, 
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid rgb(255, 255, 255); //
                    //
}

.btn-ghost:link,
.btn-ghosst:active
input[type=submit]:link,
input[type=submit]:active{
    border: 1px solid rgb(255, 255, 255) ;
    color: rgb(255, 255, 255) 22);
}

/*--------------------------
header
----------------------------*/

header{
    background-image:url(img/blue-and-purple-cosmic-sky-956999.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.myname span{
    color: #fff;
    font-size:250%;
    font-weight:900;
    position: absolute;
    top: 4%;
    left: 5%;

}



.logo{
    height: 70px;
    margin-top: 30px;
    margin-left: 90px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: inline-block;
    

    
}
.logo-black{
    display: none;
    height: 75px;
    width: auto;
    float: left;
    margin-left: 90px;

}


/*Main navi */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
    width: auto;
    margin-right: 50px;
}

.main-nav li{
    display: block;
    margin-left: 40px;
    font-weight: 900;
    float: right;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 110%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #ff0000;
    

}

/* mobile navi */

.Micon{
    color: #fff ;
    cursor: pointer;
    display: none;
    font-size: 130%;
    font-weight: 700 !important;
    
}

/* Sticky navi */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999; //vertical stacking of element, 9999 = highest = always on top of all other elements
}

.sticky .main-nav{
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 8px 0;
    color: #555;
}

.sticky .logo{
    display: none;
}

.sticky .logo-black{display: block;}






/*--------------------------
Feature
----------------------------*/ 

.section-feature .long-copy,
 {
    margin-top: 40px;
    
}




/*--------------------------
Food
----------------------------*/ 
.section-meals{
    padding-top: 80px;
    
}
.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: #000;
    
}


.meal-photo img{
    
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}



.meal-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}




/*--------------------------
Cities
----------------------------*/ 
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;

}

.city-feature{
    margin-bottom: 5px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    
}

.city-photo img{
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    border-radius: 6px;
    
}

.city-photo img:hover{


    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;

}




/*--------------------------
About me
----------------------------*/ 



.section-intro img{
    border-radius: 10%;
    width: 480px;
    height: auto;
    border: 3px solid rgb(100, 100, 100);
    left: 10%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.section-intro p{
    width: auto;
    line-height: 145%;
    font-weight: 400;
}



.skills-bar p{
  margin-bottom: 6px;
  font-weight: 600;
  
}

.progress{
  border-radius: 16px !important;
  margin-bottom: 10px;
  
}

.progress-bar{
 border-radius: 16px;
  background: #000 !important;
}

.Javascript{
    width: 10%;
    animation: Javascript 3s;
}

.Excel-VBA{
    width: 60%;
    animation: Excel-VBA 3s;
}

.MSOFFICE{
    width: 80%;
    animation: MSOFFICE 3s;
}

.SPSS{
    width: 60%;
    animation: SPSS 3s; 
}

@keyframes Javascript {
    0%{
        width: 0%;
    }

    100% {
        width:30%;
        }
    }

@keyframes Excel-VBA {
    0%{
        width: 0%;
    }

    100% {
        width:50%;
        }
    }


@keyframes MSOFFICE {
    0%{
        width: 0%;
    }

    100% {
        width:80%;
        }
    }

@keyframes SPSS {
    0%{
        width: 0%;
    }

    100% {
        width:60%;
        }
    }
    





/*--------------------------
Resume
----------------------------*/



.resume{
  padding-top: 50px;
  padding-bottom: 50px;
background-color: #f4f4f4;   
    
}

.resume h2{
    margin-top: 25px;
}

.resume h3{
  margin-bottom: 50px;
  font-weight: bold;
}



.timeline{
  list-style-type: none;
  position: relative;
}

.timeline::before{
  content: ' ';
  
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1;
}

.timeline li{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  
}

.timeline h4{
  background-color: #000;
  padding: 5px 0 5px 20px;
  color: #fff;
  font-size: 15px;
    border-radius: 5px;
    
}


.timeline li h4 span{
  font-weight: bold;
  color: #ccc;
    
}

.timeline li p{
  
   line-height: 145%;

}












/*--------------------------
Slider
----------------------------*/ 
.carousel-inner > .item > img{
    display: block;
    width: 100%;
    height: 960px;
    
}

/*--------------------------
Contact form
----------------------------*/ 


.contact-form{
    width: 60%;
    margin: 0 auto; 
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{outline: none;}


/*--------------------------
Footer
----------------------------*/ 

footer{
    background-color: #333;
    padding: 0px;
    font-size: 80%;
    
}

.footer-nav{
    list-style: none;
    float: left;
    
}

.social-links{
    list-style:none;
    float: right;
    
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;   
    
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color:#3b5998;
}

.ion-social-twitter:hover{
    color:#00aced;
}

.ion-social-googleplus:hover{
    color:#dd4b39;
}
.ion-social-instagram:hover{
    color:#f09433;
}


footer p{
    color: #888;
    text-align: center;
    margin-left: 400px;
    
}


/*--------------------------
Animation
----------------------------*/


.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js-wp-1 .animated,
.js-wp-2 .animated,
.js-wp-3 .animated{
    opacity: 1;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
    background-image:url(img/blue-and-purple-cosmic-sky-956999.jpg);
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
    

}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 50%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
/*text-animation*/
.text-animation{
    position: absolute;
    list-style: none;
    color: #fff;
    margin-top: 80px;
}

.text-animation li{
    display: inline-block;
    font-family: Lato;
    font-weight: 400;
    font-size: 240%;
    opacity: 1;
    transition: all 2.5s ease;
    
}

.text-animation li:last-child{
    margin-right: 0;
}

.text-animation.hidde-n{
    opacity: 1;
}




.text-animation.hidde-n li:nth-child(1){transform: translateX(-200px) translateY(-200px);}
.text-animation.hidde-n li:nth-child(2){transform: translateX(20px) translateY(100px);}
.text-animation.hidde-n li:nth-child(3){transform: translateX(-150px) translateY(-80px);}
.text-animation.hidde-n li:nth-child(4){transform: translateX(10px) translateY(-200px);}
.text-animation.hidde-n li:nth-child(5){transform: translateX(-300px) translateY(200px);}
.text-animation.hidde-n li:nth-child(6){transform: translateX(20px) translateY(-200px);}
.text-animation.hidde-n li:nth-child(7){transform: translateX(30px) translateY(-20px);}
.text-animation.hidde-n li:nth-child(8){transform: translateX(-200px) translateY(200px);}
.text-animation.hidde-n li:nth-child(9){transform: translateX(200px) translateY(-20px);}
.text-animation.hidde-n li:nth-child(10){transform: translateX(-20px) translateY(200px);}
.text-animation.hidde-n li:nth-child(11){transform: translateX( 200px) translateY(-200px);}
.text-animation.hidde-n li:nth-child(12){transform: translateX(-200px) translateY(-200px);}
.text-animation.hidde-n li:nth-child(13){transform: translateX(-20px) translateY(-200px);}
.text-animation.hidde-n li:nth-child(14){transform: translateX(-200px) translateY(-20px);}
.text-animation.hidde-n li:nth-child(15){transform: translateX(-200px) translateY(-200px);}
.text-animation.hidde-n li:nth-child(16){transform: translateX(-20px) translateY(-200px);}
.text-animation.hidde-n li:nth-child(17){transform: translateX(-200px) translateY(-20px);}
.text-animation.hidde-n li:nth-child(18){transform: translateX(-200px) translateY(-200px);}
/*--------------------------
Auto-Country
----------------------------*/


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }





  #mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  color: #fff;
}


/*slicer-box*/
